#IDE specific
#vscode
#jsconfig.json offers help for js in vscode
jsconfig.json 

#python env for vscode
.venv/**

#extension
*.crx
*.pem
yt-dl-native-msg-manifest.json
YT-DL_GCEXT.code-workspace
nativeHost/__pycache__/**

test/TestServer/**